img.ri
{
	max-width: 99%;
}

@media screen and (orientation: portrait) {
  img.ri { max-width: 99%; }
  img.ri { min-height: 99%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 99%; }
}


.title-wrapper{
	display:block;
	border-bottom: 1px solid #ED1C24;
	padding : 0px 5px;
}
.title-wrapper h1{
	padding :0px;
	margin: 0px;
	color: #22B24C;
}
.content-description{
	padding: 2px 5px;
}
.content-description p{
	padding :0px;
	margin: px;
}
h1{
	font-size: 1.2em;
}
.clearfix{
	clear: both;
	height: 1px;
}

#internet{
	text-align: center;
}


