img.ri
{
	max-width: 99%;
}

@media screen and (orientation: portrait) {
  img.ri { max-width: 99%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 99%; }
}

.my_content{
	margin: 0px auto;
	max-width: 95%;
}
.content-wrapper{
	
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}
.title-wrapper{
	background: #ccc;
	margin-bottom: 10px;
}

.content-description{
	padding: 0px 10px 5px;
}
h1{
	font-size: 1.2em;
}

#internet{
	text-align: center;
}
